.boc-notebook-innerpanel
{
	background: none !important;
	color: #ffffff !important;
	border: 0px !important !important; 
	border-bottom: 0px !important;
}
.boc-notebook-field
{
	width: 100% !important;
}

.boc-notebook-singlelinefield
{
	
	margin-right: 0px !important;
	
	height: 18px !important;
	width:100% !important;
	
}

* html .boc-notebook-singlelinefield
{
  height: 20px !important;
  margin-top:1px !important;
  margin-bottom:1px !important;
}

.boc-notebook-multilinefield
{
	height: auto !important;
}

.boc-textarea
{
 	height: 80px !important;
}

.boc-notebook-relationscontrol
{
	min-height: 40px !important;
}

.boc-notebook-group
{
	background: none !important;
	border-bottom: 0px !important;
}

.boc-form-group
{
	background: none !important;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
}

.boc-form-group-no-border
{
	background: none !important;
	border-bottom: 0px !important;
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
}


.boc-search-field
{
	padding-right:3px !important;
	padding-left:0px !important;
	height:18px !important;
}



.iframe
{
	width: 100% !important;
	height: 100% !important;
	overflow:auto !important;
	text-align: left !important;
	style:"background-color:inherit;",
}

.iframe-undocked
{
	width: 100% !important;
	height: 100% !important;
	overflow:hidden !important;
	text-align: left !important;
}

.login-outer-panel
{
  text-align:center !important; 
  margin-top:100px !important;
  margin-left: auto !important; 
  margin-right: auto !important;
  border: 0px !important;
}

.login-panel-base
{
	background: #FFFFF !important;
	border: none !important;
}

.login-panel
{
	margin-left: auto !important; 
	margin-right: auto !important;
	background: #FFFFF !important;
	border: solid 1px !important;
	border-color: #99bbe8 !important;
}

.testung-button
{
 	width: 200em !important,
}

.ux-flag-us 
{
	background-image:url(../images/icons/c_application.png) ! important;
}
.ux-flag-de 
{
	background-image:url(../images/icons/c_application.png) ! important;
}
.ux-flag-fr 
{
	background-image:url(../images/c_application.png) ! important;
}
.ux-icon-combo-icon 
{
	background-repeat: no-repeat;
	background-position: 0 50%;
	width: 18px;
	height: 14px;
}

.ux-icon-combo-input 
{
	padding-left: 25px;
}
.x-form-field-wrap .ux-icon-combo-icon 
{
	top: 3px;
	left: 5px;
}

.ux-icon-combo-item 
{
	background-repeat: no-repeat ! important;
	background-position: 3px 50% ! important;
	padding-left: 24px ! important;
}

.boc-folder-loading
{
  background:url(../ext/resources/images/default/grid/loading.gif) 0 0 no-repeat transparent !important;
}

.boc-folder-open
{
  background:url(../images/folder-open.gif) 0 0 no-repeat transparent !important;
}

.boc-folder-open-virtual
{
  background:url(../images/folder-open-grey.gif) 0 0 no-repeat transparent !important;
}

.boc-folder-closed
{
  background-image:url(../images/folder.gif) 0 0 no-repeat transparent !important;
}

.boc-folder-closed-virtual
{
  background-image:url(../images/folder-grey.gif) 0 0 no-repeat transparent !important;
}

.x-tool-delete{background:transparent url(../images/delete.png) no-repeat 0 0;}
.x-tool-delete-over{background-position:-15px 0;}

.x-tool-refresh
{
  overflow:hidden !important;
  width:18px !important;
  height:18px !important;
  float:right !important;
  cursor:pointer !important;
  background-image:url(../images/empty.png) !important;
  margin-left:1px !important;
}

/* IE 7 and Firefox */
* > .x-tool-refresh
{
  background:transparent url(../images/refresh.png) no-repeat !important;
}

/* IE 6 */
* html .x-tool-refresh
{
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/refresh.png', sizingMethod='crop') ;
}

.x-tool-plus
{
  overflow:hidden !important;
  width:18px !important;
  height:18px !important;
  float:right !important;
  cursor:pointer !important;
  background-image:none !important;
  margin-left:1px !important;
}

/* IE 7 and Firefox */
* > .x-tool-plus
{
  background:transparent url(../images/newobject.png) no-repeat !important;
}

/* IE 6 */
* html .x-tool-plus
{
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/newobject.png', sizingMethod='crop') ;
}



.ait_search
{
  overflow:hidden !important;
  width:18px !important;
  height:18px !important;
  float:right !important;
  margin-right:2px !important;
  margin-legt: -1px !important;
  margin-top:0px !important;
  cursor:pointer !important;
}
/* IE 7 and Firefox */
* > .ait_search
{
  background:transparent url(../images/search.png) no-repeat !important;
}

/* IE 6 */
* html .ait_search
{
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/search.png', sizingMethod='crop') ;
}

.ait_refresh
{
  margin-top: 1px !important;
  overflow:hidden !important;
  width:18px !important;
  height:18px !important;
  float:right !important;
  cursor:pointer !important;
  margin-left:1px !important;
  
}

/* IE 7 and Firefox */
* > .ait_refresh
{
  margin-top:1px !important;
  background:transparent url(../images/refresh.png) no-repeat !important;
}

/* IE 6 */
* html .ait_refresh
{
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/refresh.png', sizingMethod='crop') ;
}



.ait_newobject
{
  overflow:hidden !important;
  width:18px !important;
  height:18px !important;
  float:right !important;
  cursor:pointer !important;
  margin-top:2px !important;
  margin-left:2px !important;
}

/* IE 7 and Firefox */
* > .ait_newobject
{
  margin-top:1px !important;
  background:transparent url(../images/newobject.png) no-repeat !important;
}

/* IE 6 */
* html .ait_newobject
{
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/newobject.png', sizingMethod='crop') ;
}

.ait_remove_relation
{
  overflow:hidden !important;
  width:18px !important;
  height:18px !important;
  float:right !important;
  cursor:pointer !important;
  margin-left:1px !important;
  margin-top:2px !important;
}

/* IE 7 and Firefox */
* > .ait_remove_relation
{
  margin-top:1px !important;
  background:transparent url(../images/removerelation.png) no-repeat !important;
}

/* IE 6 */
* html .ait_remove_relation
{
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/removerelation.png', sizingMethod='crop') ;
}

.ait_add_relation
{
  overflow:hidden !important;
  width:18px !important;
  height:18px !important;
  float:right !important;
  cursor:pointer !important;
  margin-left:1px !important;
  margin-top:2px !important;
}

/* IE 7 and Firefox */
* > .ait_add_relation
{
  margin-top:1px !important;
  background:transparent url(../images/addrelation.png) no-repeat !important;
}

/* IE 6 */
* html .ait_add_relation
{
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/addrelation.png', sizingMethod='crop') ;
}

.ait_add_relation_button
{
  position:relative;
  top:0px;
}

/* IE 7 and Firefox */
* > .ait_add_relation_button
{ 
  background:transparent url(../images/addrelation_btn.png) no-repeat !important;
}

/* IE 6 */
* html .ait_add_relation_button
{
  top:1px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/addrelation_btn.png', sizingMethod='crop') ;
}



.ait_follow_relation
{
  overflow:hidden !important;
  width:18px !important;
  height:18px !important;
  float:right !important;
  cursor:pointer !important;
  margin-left:1px !important;
  margin-top:2px !important;
}

/* IE 7 and Firefox */
* > .ait_follow_relation
{
  margin-top:1px !important;
  background:transparent url(../images/followrelation.png) no-repeat !important;
}

/* IE 6 */
* html .ait_follow_relation
{
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/followrelation.png', sizingMethod='crop') ;
}

.ait_logout
{
  position:relative;
  top:1px;
}

/* IE 7 and Firefox */
* > .ait_logout
{ 
  background:transparent url(../images/logout_16.png) no-repeat !important;
}

/* IE 6 */
* html .ait_logout
{
  top:1px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logout_16.png', sizingMethod='crop') ;
}

.ait_menubar_search
{
  position:relative;
  top:1px;
}

/* IE 7 and Firefox */
* > .ait_menubar_search
{ 
  background:transparent url(../images/search.png) no-repeat !important;
}

/* IE 6 */
* html .ait_menubar_search
{
  top:1px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/search.png', sizingMethod='crop') ;
}


.ait_menubar_help
{
  position:relative;
  top:1px;
}

/* IE 7 and Firefox */
* > .ait_menubar_help
{ 
  background:transparent url(../images/help_16.png) no-repeat !important;
}

/* IE 6 */
* html .ait_menubar_help
{
  top:1px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/help_16.png', sizingMethod='crop') ;
}


.ait_edit_notebook
{
  position:relative;
  top:2px;
}

/* IE 6 */
* html .ait_edit_notebook
{
  top:2px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/edit_16.png', sizingMethod='crop') ;
}

.ait_read_notebook
{
  position:relative;
  top:2px;
}

/* IE 6 */
* html .ait_read_notebook
{
  top:2px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/eye_16.png', sizingMethod='crop') ;
}

.ait_print_notebook
{
  position:relative;
  top:2px;
}

/* IE 6 */
* html .ait_print_notebook
{
  top:2px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/print_16.png', sizingMethod='crop') ;
}

.ait_change_history
{
  position:relative;
  top:2px;
}

/* IE 6 */
* html .ait_change_history
{
  top:2px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/doc_list_16.png', sizingMethod='crop') ;
}

.ait_infotext
{
  position:relative;
  top:-1px;
}

/* IE 7 and Firefox */
* > .ait_infotext
{ 
  background:transparent url(../images/info_16.png) no-repeat !important;
}

/* IE 6 */
* html .ait_infotext
{
  top:1px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/info_16.png', sizingMethod='crop') ;
}

.ait_save
{
  position:relative;
  top:2px;
}

/* IE 6 */
* html .ait_save
{
  top:2px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/save.png', sizingMethod='crop') ;
}

.ait_delete_relation
{
  position:relative;
  top:-1px;
}

/* IE 7 and Firefox */
* > .ait_delete_relation
{ 
  background:transparent url(../images/delete_relation_in_database.png) no-repeat !important;
}

/* IE 6 */
* html .ait_delete_relation
{
  top:1px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/delete_relation_in_database.png', sizingMethod='crop') ;
}



.ait_relcontrol_tbar
{
  padding-left: 0px !important;
  background: none !important;
  color: #000000 !important;
  border-width: 0px !important;
  font-size: 13px !important;
}


.ait_name
{
  position:relative !important;
  top:3px !important;
  left: 10px !important;
}

.ait_val
{
  background:url(../images/icons/c_application.png) no-repeat transparent !important;
}

.ait_record_tbar
{
  background: none !important;
  color: #000000 !important;
  border-bottom-width: 0px !important;
  border-top-width: 0px !important;
  font-size: 13px !important;
}

.ait_multiple_targets
{
  width:auto !important;
  background-image: url(../images/triangle.gif) !important;
  background-position: right bottom !important;
  background-repeat: no-repeat !important;
}

.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label
{
  white-space:nowrap;
  font:normal 13px tahoma,arial,helvetica,sans-serif;
}

.x-toolbar label
{
  margin-left : 0px;
  padding-left-value : 0px !important;
}

.ytb-text
{
  margin-left : 0px;
  padding-left-value : 0px !important;
}

/* Override for the standard x-item-disabled class - We want to have texts appear a little darker, we want
   full opacity and the cursor should be the standard text cursor */
.x-item-disabled
{
  color : #000000 !important;
  opacity : 0.6 !important;
  cursor : text !important;
}

.ait_dummy
{
  position:relative;
  top:0px;
  width:23px !important;
  height:16px !important;
  background:transparent url(../images/sys/productIcon.png) no-repeat !important;
}

.ait_dummy_offline
{
  position:relative;
  top:0px;
  width:23px !important;
  height:16px !important;
  background:transparent url(../../images/sys/productIcon.png) no-repeat !important;
}




.ait_help_up
{
  position:relative;
  top:1px;
}

/* IE 7 and Firefox */
* > .ait_help_up
{ 
  background:transparent url(../images/up_16.png) no-repeat !important;
}

/* IE 6 */
* html .ait_help_up
{
  top:1px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/up_16.png', sizingMethod='crop') ;
}

.ait_help_down
{
  position:relative;
  top:1px;
}

/* IE 7 and Firefox */
* > .ait_help_down
{ 
  background:transparent url(../images/down_16.png) no-repeat !important;
}

/* IE 6 */
* html .ait_help_down
{
  top:1px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/down_16.png', sizingMethod='crop') ;
}

.ait_readmode_notebook
{
  font-family: arial;  
  width: 100% !important;
  font-size: 12px !important;
  border-collapse: collapse !important;
  border-bottom: 1px solid lightgray !important;
}


.ait_readmode_notebook td
{
  
  font-size: 11px !important;
  border-collapse: collapse !important;
  padding: 5px !important;
}

.ait_readmode_notebook tr
{
  border-bottom: 0px !important;
}

.ait_readmode_notebook_attr
{
  font-weight: bold !important;
  height:20px !important;
  border-left:1px solid lightgray !important;
}
.ait_readmode_notebook_attr_below
{
  font-weight: bold !important;
  height:20px !important;
  border-left:1px solid lightgray !important;
  border-right:1px solid lightgray !important;
}

.ait_readmode_notebook_val
{
  height:20px !important;
  border-right:1px solid lightgray !important;
  vertical-align: text-top !important;
  width: 100% !important;
}


.ait_readmode_notebook_val_below
{
  height:20px !important;
  border-right:1px solid lightgray !important;
  border-left:1px solid lightgray !important;
}


.ait_readmode_notebook_chapter
{
  border:1px solid lightgray !important;
  background-repeat: repeat-x !important;
  background-image:url(../ext/resources/images/gray-extend/tabs/tab-strip-bg.gif) !important;
}

.ait_readmode_notebook_group   
{
  border:1px solid lightgray !important;
  background-color: #F9F9F9;
}

.ait_readmode_notebook_chapter b
{
  font-size: 12px !important;
  font-weight: bold !important;
}

.ait_readmode_notebook_group b
{
  font-size: 11px !important;
  font-weight: bold !important;
}

.ait_readmode_notebook_table
{
  width: 100% !important;
  font-size: 12px !important;
  border-collapse: collapse !important;
}

.ait_readmode_notebook_table_hd td
{
  border-left: 1px solid lightgray !important;
  background-color: #F9F9F9;
  font-size: 11px !important;
  font-weight: bold !important;
}


.ait_readmode_notebook_table td
{
  border: 1px solid lightgray !important;
  padding: 3px !important;
}

.ait_readmode_notebook_table_val
{}

.ait_transparent
{
  background-color: transparent;
}

.ait_dialog_panel
{
  background-color: rgb(240,240,240) !important;
  border: 0px !important;
}

.ait_link
{
  color: rgb(0,0,139) !important;
  text-decoration:none !important; 
}

.ait_no_padding
{
  padding: 0px !important;
  margin: 0px !important;
}

ul.x-tab-strip{width:50000px !important;}


.ait_invisible_mask
{
  opacity: 0.0 !important;
  filter: alpha(opacity = 0);
}

/*.x-grid3-hd-row td {
  border: none;
  font-weight: bold;
}

.x-grid3-hd-row td,
.x-grid3-row td,
.x-grid3-summary-row td {
  padding: 4px 4px 4px 4px;
}

.x-panel-bwrap,
.x-panel-body,
.x-grid3,
.x-grid-panel .x-panel-body {
  overflow: visible !important;  
}*/

.ait_references_sub_menu_relclassname
{
  font-weight:bold !important;
}

.ait_broken_reference
{
  color: rgb(100,100,100) !important;
}

.ait_broken_reference_grid
{
  position: relative;
  top: 2px;
  height:10px !important;
}

.ait_tbar_text
{
  font-size:11px !important;
}
.ait_set_no_value
{
  overflow:hidden !important;
  width:18px !important;
  height:18px !important;
  float:left !important;
  cursor:pointer !important;
  margin-left:1px !important;
}

/* IE 7 and Firefox */
* > .ait_set_no_value
{
  margin-top:1px !important;
  background:transparent url(../images/removerelation.png) no-repeat !important;
}

/* IE 6 */
* html .ait_set_no_value
{
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/removerelation.png', sizingMethod='crop') ;
}

.ait_timefilter_checkbox
{
  margin-top: 2px !important;
}

.ait_unsaved_tabs_list
{
  background-color: transparent !important;
  border:0px solid !important;
}

.x-tab-strip-close 
{
  width: 16px !important;
  height: 16px !important;
}