/************************************************************************/
/* Copyright                                                      */
/* This file is part of ADOit.                                       */
/* (C) COPYRIGHT BOC - Business Objectives Consulting 1995 - 2008       */
/* All Rights Reserved                                                  */  
/* Use, duplication or disclosure restricted by BOC Information Systems */
/* Vienna, 1995 - 2008                                                  */
/************************************************************************/
/* @Author RPa                                                          */
/* css classes for the generic views in ADOit                        */
/************************************************************************/
.adoitnp-views-visible-element {display:inline !important;}
.adoitnp-portfolio-area {stroke-width:0;fill:#f5f5f5 !important;display:inline !important;}
.adoitnp-portfolio-grid {stroke:#d3d3d3; stroke-width:1px; stroke-dasharray:3,3; shape-rendering:optimizeSpeed; display:inline !important;}
.adoitnp-portfolio-sizing-line {stroke:black; opacity:0.0; stroke-width:7px; display:inline !important;}
.adoitnp-axis-line {stroke:black; stroke-width:1px; shape-rendering:optimizeSpeed; display:inline !important;}
.adoitnp-matrix-empty {fill: #ffffff;stroke:#D3D3D3;stroke-width:1;shape-rendering:optimizeSpeed;display:inline !important;}
.adoitnp-matrix-filled {fill: #A1D2C5;stroke:#0DA68B;stroke-width:1;shape-rendering:optimizeSpeed;display:inline !important;}
.adoitnp-views-opt-speed {shape-rendering:optimizeSpeed}
.adoitnp-views-fixed {position:fixed}
.adoitnp-column-sizing-line {stroke:#d3d3d3; opacity:0.0; stroke-width:7px; shape-rendering:optimizeSpeed; display:inline !important;}
.adoitnp-column-sizing-triangle {stroke:#d3d3d3; fill:#d3d3d3; stroke-width:1px; shape-rendering:optimizeSpeed; display:inline !important;}                    
.adoitnp-views-hidden-element {display:inline !important;visibility:hidden;}