.x-toolbar {
    background-image: none !important;
    height: 32px !important;
    background-color: #ebecee !important;
    border: 0 !important;
}

.x-panel.x-border-panel {
    background-color: #ebecee !important;
}

.x-tab-panel-header,
.x-tab-strip {
    height:36px;
    border: 0 solid !important;
    padding-bottom: 0 !important;
}

.x-panel-bwrap .x-tab-panel-header {
    margin:4px !important;
}

.x-tab-strip span.x-tab-strip-text {
    font:normal 12px arial, tahoma, helvetica !important;
}

.x-tab-with-icon {
    height:36px !important;
    background-color: #58595b !important;
}

ul.x-tab-strip-top {
    background-color:transparent !important;
    background-image:none !important;
}

.x-tab-strip-inner {
    background-image:none !important;
}

.x-tab-right,
.x-tab-left,
.x-tab-strip li {
    height: calc(100% - 1px);
    background-image:none !important;
}

.x-tab-strip li.x-tab-strip-active {
    border: 1px solid #58595b !important;
}

.x-tab-strip li {
    border: 1px solid #c1c1c1 !important;
}

.x-tab-panel-noborder {
    border-width: 0 0 10px !important;
}

ul.x-tab-strip-top {
    border-bottom: 0 !important;
}

.x-tab-panel-noborder li{
    margin-left: 4px !important;
}

ul.x-tab-strip li:first-child {
    margin-left: 0 !important;
}

.x-tab-strip-text {
    margin-top: 8px !important;
}

.x-panel-header {
    background-image:none !important;
    height:27px !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    background: transparent !important;
}

.x-panel-header-text {
    margin-top: 8px;
    margin-left: 5px;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    background-color: transparent !important;
}

.x-tab-strip-close {
    background-image: url(override_images/tab_close_dark.png) !important;
    margin-top: 8px;
    margin-right: 5px;
}

.x-tab-strip-active .x-tab-strip-close {
    background-image: url(override_images/tab_close_light.png) !important;
}

.x-tool {
    background-image: url(override_images/tool-sprites.gif) !important;
    display: block;
    margin-top: 8px;
}

.x-layout-split-west {
    background-image: url(override_images/splitter_bg.png);
    background-repeat: repeat-x;
}

.x-tab-panel-header-noborder,
.x-panel-header {
    border-bottom: 6px solid #58595b !important;
}

.x-window-plain .x-panel-header {
    border-bottom: 0 !important;
    height:auto !important;
    margin-bottom: 8px;
}

.x-window-plain .x-panel-header-text {
    text-transform:none;
    font-size:12px;
    margin-left:0;
}

.x-window-plain .x-window-body {
    border: 0;
    height:auto !important;
}

.x-window-plain .x-btn {
    background-color: #58595b;
}

.x-window-plain .x-btn.x-btn-over {
    background-color: #3a3a3a !important;
}

.x-panel-bwrap .x-btn.x-btn-noicon {
     background-color: #ebecee;
     padding: 3px 5px;
     border: 1px solid #b5b8c8;
}

.x-window-plain .x-toolbar-right {
    padding-right: 0 !important;
}

.x-window-plain .x-btn-text {
    color:  #ebecee !important;
}

.x-window-plain .x-toolbar-cell {
    margin-right: 0 !important;
}

.x-window-plain .x-window-body {
    border:0 !important;
}

.x-window-plain .x-window-mc {
    border:0 !important;
}

.x-window-plain .x-toolbar-ct {
    padding: 0;
}

.x-panel-ghost .x-tool,
.x-window-plain .x-tool {
    margin-top:-2px !important;
}

.x-panel-ghost .x-window-tc .x-window-header,
.x-window-plain .x-window-tc .x-window-header {
    margin-left: 5px;
    margin-top: 5px;
}

.x-window-plain{
    background-color: #fff;
}

.x-window-plain .x-form-text, textarea.x-form-field {
    background-color: #d2d2d2 !important;
}

.x-window-tl .x-window-header {
    color: #989595 !important;
}

.x-panel-ghost .x-window-tl,
.x-panel-ghost .x-window-tr,
.x-panel-ghost .x-window-tc,
.x-panel-ghost .x-window-ml,
.x-panel-ghost .x-window-mr,
.x-panel-ghost .x-window-bl,
.x-panel-ghost .x-window-br,
.x-panel-ghost .x-window-bc,
.x-panel-ghost .x-window-mc {
    background-image: none !important;
}

.x-window-plain .x-window-tl,
.x-window-plain .x-window-tr,
.x-window-plain .x-window-tc,
.x-window-plain .x-window-ml,
.x-window-plain .x-window-mr,
.x-window-plain .x-window-bl,
.x-window-plain .x-window-br,
.x-window-plain .x-window-bc,
.x-window-plain .x-window-mc {
    background-image: none !important;
}

body.x-body-masked .x-window-plain .x-window-mc {
    background-color: transparent !important;
}

.x-window-plain {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
}

.x-shadow {
    display:none !important;
}

.x-panel-header:has(>.x-tool-collapse-west) {
    border-bottom: 6px solid #58595b !important;
}

.x-tab-strip li {
    background-color: #c1c1c1 !important;
}

.x-tab-strip li *{
    color: #000 !important;
}

.x-panel-bwrap li {
     margin: 0 !important;
}

.x-tab-panel-body {
    border: 0 !important;
    background-image: none !important;
    overflow: auto !important;
}

.x-tab-strip li.x-tab-strip-active {
    background-color: #58595b !important;
}

.x-tab-strip li.x-tab-strip-active *{
    color: #ebecee !important;
    font-weight: bold !important;
}

.x-tab-strip-wrap {
    background: transparent !important;
}

ul.x-tab-strip-top {
    padding-top: 0 !important;
}

.x-panel-bwrap .x-column-layout-ct .x-form-element .x-form-field-wrap,
.x-panel-bwrap .x-column-layout-ct .x-form-element .x-form-field-wrap * {
    /*background-color: #ebecee !important;*/
}

.x-panel-bwrap .x-column-layout-ct .x-form-element .x-form-field-wrap .x-form-text {
    height: 19px !important;
}

.ux-icon-combo-icon {
    height: 16px !important;
    margin-top: -1px;
}

.x-panel-bwrap > .x-panel-body > .x-form-label-top > .x-panel-bwrap > .x-panel-body.x-panel-body-noheader {
    border: 1px solid #e8e8e8 !important
}

.x-panel-bwrap > .x-panel-body > .x-form-label-top > .x-panel-bwrap > .x-panel-body.x-panel-body-noheader.x-panel-body-noborder {
    border:0 !important;
}

.x-form-trigger.x-form-arrow-trigger {
    border-bottom:0 !important;
}

.x-panel-bwrap div.x-panel-header {
    border-bottom: 0 !important;
}

.x-panel-body {
    border: 0 !important;
}

.explorer-panel > .x-tab-strip-wrap, .explorer-panel ul.x-tab-strip.x-tab-strip-top {
    width: 100% !important;
}

.explorer-panel .x-tab-strip-text{
    margin-top: 5px !important;
    text-align: center;
    padding-left: 0 !important;
}

.x-tab-scroller-left {
    background-image: url(override_images/scroll-left.png) !important;
}

.x-tab-scroller-right {
    background-image: url(override_images/scroll-right.png) !important;
}

.x-panel-bwrap ul.x-tab-strip.x-tab-strip-top li {
    width: calc(50% - 4px) !important;
}

div.ui-state-default.slick-header-columns {
    background: none !important;
    border-bottom: 0 !important;
}

.x-toolbar-ct {
    padding: 8px 0 5px 10px;
    background-color: transparent !important;
}

.x-toolbar-ct * {
    background-color: transparent !important;
}

.x-toolbar-right{
    padding-right: 12px !important;
}

.ui-state-default,
.slick-header .ui-state-default,
.slick-header-columns,
.slick-header-columns:hover  {
    background-image: none !important;
    background: #ebecee !important;
    border: 0 !important;
    /*height: 36px !important;
    width: 100% !Important;*/
}

.slick-header-column-sorted {
    font-style: normal !important;
    font-size: 11px !important;
    margin-left: 5px !important;
}

.slick-column-name {
    background-color: transparent !important;
}

.slick-cell {
    border: 0 !important;
}

.grid-canvas,
.slick-row,
.slick-cell {
    width: 100% !important;
    margin: 0 !important;
    padding: 1px 0 !important;
}

.slick-row {
    background: transparent !important;
}

form {
    background-image: none !important;
}

input.boc-notebook-singlelinefield {
    height: 27px !important;
}

.x-form-text, textarea.x-form-field {
    background-image: none !important;
    background-color: #ebecee !important;
}

.x-panel-bwrap .x-panel-header {
    background-color: #FFF !important;
}

.toggle.expand {
    background: url(override_images/expand.gif) no-repeat center center !important;
}

.toggle.collapse {
    background: url(override_images/collapse.gif) no-repeat center center !important;
}

 .x-form-field-wrap, .x-form-field-wrap * {
    background-color: white !important;
 }

.x-form-field-wrap .x-form-trigger {
    background-image: url(override_images/trigger.gif) !important;
}

.x-small-editor .x-form-field-wrap .x-form-trigger {
    border: 0;
    height:18px !important;
}

.x-btn-over {
    background-color: #d4d4d4 !important;
    background-image: none !important;
}

.x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-tl, .x-btn-tc, .x-btn-tr, .x-btn-bl, .x-btn-bc, .x-btn-br {
    background-image: none !important;
}

.x-toolbar-cell{
    margin-right: 10px !important;
    display: block;
    float: left;
}

.ait_dummy_offline {
    margin-top: 4px;
}

body .x-toolbar-left-row:first-child td > div.x-form-field-wrap {
    margin-top: 3px;
    border: 1px solid #d2d2d2 !important;
    padding-bottom:1px;
}

body .x-toolbar-left-row:first-child td > div.x-form-field-wrap img.x-form-arrow-trigger{
    background:transparent;
    right:0;
}
td.ait_readmode_notebook_chapter {
    background-image: none !important;
    background-color: #ebecee;
}

.slick-cell.selected {
    background-color: #ebecee !important;
    box-shadow: 0 0 0 1px inset #b5b8c8;
}

.x-btn-mc em.x-btn-arrow {
    border: 1px solid #d2d2d2;
    padding:1px;
}

.x-btn-mc em.x-btn-arrow:hover {
    background-color: #d4d4d4;
}

.x-panel-bbar {
    height: 21px !important;
}

ul.x-menu-list {
    padding:0 !important;
}

.x-menu-item-active {
    background-image: none !important;
    background-color: #d4d3d3 !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.x-menu-item-active * {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.x-menu-floating {
    border-color: #cccccc !important;
}

* > .ait_menubar_search {
    margin-bottom: 4px !important;
}

.search-tab.x-tab-strip-active .x-tab-strip-text {
    background-image: url(images/search_white.png) !important;
}

.search-tab .x-tab-strip-text {
    background-image: url(images/search.png) !important;
}

.x-toolbar-left-row table.x-btn-over {
    background-color: transparent !important;
}

.x-panel-bbar .x-toolbar-ct{
    padding: 0px 0 5px 10px;
}

.x-panel-bbar .xtb-text {
    padding-top: 0 !important;
    font-size: 12px !important;
}

.x-layout-collapsed {
    background-color: #ebecee !important;
}


/*Chekckbox styling*/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  padding-top: 3px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 12px; height: 12px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 0px;
  /*box-shadow: inset 0 1px 3px rgba(0,0,0,.3)*/
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 4px; left: 2px;
  font-size: 13px;
  line-height: 0.8;
  color: #454545;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #aaa;
}

ul.axw_enumlisttree_readmode {
  margin-left:0px;
  list-style-type: square;
  text-indent:-5px;
  padding-left: 12px;
}

.axw-html-frame {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.x-tab-strip-text {
    padding-left: 23px !important;
    padding-bottom: 0 !important;
    padding-top: 5px !important;
}

.language-selector {
    border: none !important;
}

.x-grid3-header {
    background-image: none !important;
    border-bottom: 1px solid #58595b ;
}

.x-grid3-row {
    border-color: #e2e2e2 !important;
}

.x-grid3-row td {
    padding: 2px 0;
}

td.sort-asc .x-grid3-hd-inner {
    background-image: none !important;
    background-color: #e2e2e2 !important;
}

td.sort-desc .x-grid3-hd-inner {
    background-image: none !important;
    background-color: #e2e2e2 !important;
}

.x-grid3-hd-text {
    padding: 4px 5px 4px 5px !important;
}

.x-grid3-sort-icon {
    margin-left: 0px !important;
}

.x-grid3-body .x-grid3-td-numberer {
    background-image: none !important;
    background-color: #e4e4e4 !important;
}

.share-url-close-button {
    background-color: #58595b !important;
}
